{% extends 'base.html' %}
{% block title %}Authorization{% endblock %}
{% block header %}Authorization{% endblock %}
{% block content %}
<main class="main">
  <div class="container">
    <form id="login" method="POST" class="form">
      <div class="form__field">
        <label for="email" class="form__label">Email:</label>
        <input type="email" name="email" id="email" class="form__input" />
      </div>
      <div class="form__field">
        <label for="password" class="form__label">Password:</label>
        <input type="password" name="password" id="password" class="form__input" />
      </div>
      <div class="form__field">
        <button class="form__submit big-btn">Submit</button>
      </div>
    </form>
  </div>
</main>
{% endblock %}