/* Common */
:root {
  --in-sh: 100; /* z-index of modal shadow background */
  --in-hd: 110; /* z-index of the header */
  --in-mc: 120; /* z-index of the modal container */

  --bg-pr: #F6FFF8; /* Primary background color */
  --bg-sc: #A4C3B2; /* Secondary background color */
  --bg-dg: #FFA0A0; /* Danger background color */
  --bg-ac: #6B9080; /* Active background color */
  --bg-ac-alt: #EAF4F4; /* Alternative Active background color */
  --bg-dg-ac: #FF8A8A; /* Danger Active background color */
  --bg-completed: #A0FFB0;
  --bg-failed: #FFA0A0;
  --bg-process: #A0FFD1;
  --bg-pause: #F7FFA0;
  --bg-block: #E7E7E7;
  --bg-wait: #DBDAFF;
  
  --bs-pr: 0px 0px 5px 1px rgba(0, 0, 0, 0.15); /* Primary shadow */

  --fc-pr: #444444; /* Primary font color */
  --fc-sc: #333333; /* Secondary font color */
  --fc-lt: #FFFFFF; /* Light font color */

  --bb-pr: 1px solid var(--fc-pr);

  --fs-el: 64px; /* Extra large forn size */
  --fs-lg: 32px; /* Large font size */
  --fs-md: 24px; /* Medium font size */
  --fs-sm: 16px; /* Small font size */
  --fs-es: 14px; /* Extra small font size */

  --at-md: .3s; /* Medium animation time */
  --at-sm: .1.5s; /* Small animation time */

  --svg-close: url('./img/close.svg'); /* SVG image of close button */
  --svg-dots: url('./img/dots.svg'); /* SVG image of setup dots */
  --svg-completed: url('./img/completed.svg');
  --svg-process: url('./img/process.svg');
  --svg-wait: url('./img/wait.svg');
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: var(--bg-pr);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: var(--bg-pr);
}

div {
  display: flex;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

button {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input[type = 'radio'] {
  margin: 0;
}

.container { 
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Header */
.header {
  position: relative;
  display: flex;
  padding: 44px 0 0 0;
  min-height: 104px;
  background: var(--bg-sc);
}

.header.forward {
  z-index: var(--in-hd);
}

.header__content {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header__title {
  color: var(--fc-sc);
  font-size: var(--fs-lg);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Burger */
.burger {
  flex-direction: column;
  align-items: flex-end;
  padding: 14px 11px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--bg-pr);
  box-shadow: var(--bs-pr);
}

.burger__line {
  margin-bottom: 5px;
  width: 28px;
  height: 4px;
  background: var(--bg-sc);
  border-radius: 1px;
  transition: all var(--at-md);
}

.burger__line:nth-child(2) {
  width: 20px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

.burger.active .burger__line:first-child {
  transform: translateY(9px) rotate(45deg);
}

.burger.active .burger__line:nth-child(2) {
  width: 0;
}

.burger.active .burger__line:last-child {
  transform: translateY(-9px) rotate(-45deg);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Navigation */
.nav {
  position: absolute;
  z-index: var(--in-hd);
  top: 100%;
  left: 0;
  padding: 0 15px;
  width: 100%;
  height: 0;
  background: var(--bg-sc);
  overflow: hidden;
  transition: height var(--at-md);
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: var(--bb-pr);
}

.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  color: var(--fc-pr);
  font-size: var(--fs-md);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background: var(--bg-sc);
}

.footer__text {
  color: var(--fc-pr);
  font-size: var(--fs-sm);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Article */
.article {
  padding-bottom: 15px;
}

.article__title {
  margin-bottom: 15px;
  color: var(--fc-sc);
}

.article__text {
  color: var(--fc-pr);
  font-size: var(--fs-sm);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Modal */
.modal {
  position: fixed;
  z-index: -1; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  opacity: 0;
  transition: opacity var(--at-md);
}

.modal.forward {
  z-index: var(--in-mc);
  display: flex;
}

.modal.active {
  opacity: 1;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px;
  min-width: 290px;
  background-color: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);  
}

.modal__title {
  margin-bottom: 15px;
  color: var(--fc-sc);
  font-size: var(--fs-lg);
}

.modal__subtitle {
  margin-bottom: 15px;
  color: var(--fc-sc);
  font-size: var(--fs-md);
}

.modal__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal__field:last-of-type {
  margin-bottom: 0;
}

.modal__field_row {
  flex-direction: row;
  align-items: center;
}

.modal__label {
  margin-bottom: 10px;
  color: var(--fc-sc);
  font-size: var(--fs-md);
}

.modal__label_row {
  margin-bottom: 0;
  padding-left: 10px;
}

.modal__radio {
  cursor: pointer;
}

.modal__radio + .modal__label {
  cursor: pointer;
}

.modal__text {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--bs-pr);
  color: var(--fc-sc);
  font-size: var(--fs-md);
  outline: none;
}

.modal__textarea {
  padding: 15px;
  border: none;
  border-radius: 15px;
  box-shadow: var(--bs-pr);
  font-size: var(--fs-sm);
  resize: none;
  outline: none;
}

.modal__select {
  display: flex;
  padding: 0 5px;
  height: 40px;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: var(--bs-pr);
  color: var(--fc-sc);
  font-size: var(--fs-md);
  outline: none;
}

.modal__btn {
  justify-content: center;
  align-items: center;
  height: 40px;
  background: var(--bg-pr);
  border-radius: 8px;
  box-shadow: var(--bs-pr);
  color: var(--fc-sc);
  font-size: var(--fs-md);
  transition: opacity var(--at-md),
              background var(--at-md);
}

.modal__btn:hover {
  opacity: .8;
}

.modal__btn:active {
  background: var(--bg-ac-alt);
}

.modal__btn_danger {
  background: var(--bg-dg);
}

.modal__btn_danger:active {
  background: var(--bg-dg-ac);
}

.modal__close {
  position: absolute;
  top: 23px;
  right: 11px;
  width: 30px;
  height: 30px;
  background: var(--svg-close) no-repeat center;
  background-size: 20px;
}

.body-fixed {
  height: 100vh;
  overflow: hidden;
}

.modal-shadow {
  position: fixed;
  z-index: var(--in-sh);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background var(--at-md);
}

.modal-shadow.active {
  background: rgba(0, 0, 0, 0.5);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Button */
.small-btn {
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 15px 0;
  padding: 0 10px;
  height: 30px;
  background: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);
  color: var(--fc-sc);
  font-size: var(--fs-es);
  transition: opacity var(--at-md),
              background var(--at-md);
}

.big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 50px;
  background: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);
  color: var(--fc-sc);
  font-size: var(--fs-lg);
  transition: opacity var(--at-md),
              background var(--at-md);
}

.big-btn:hover, .small-btn:hover {
  opacity: .8;
}

.big-btn:active, .small-btn:active {
  background: var(--bg-ac);
}

.btn-wrapper {
  position: relative;
  margin-top: auto;
  padding: 30px 15px 15px 15px;
  width: 100%; 
}

.btn-wrapper::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  height: 1px;
  background: var(--fc-sc);
}

.btn-dots {
  width: 30px;
  height: 42px;
  background: var(--svg-dots) no-repeat center;
  background-size: 5px 21px;
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Form */
.form {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 15px;
  background: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-bottom: 10px;
  color: var(--fc-sc);
  font-size: var(--fs-md);
  font-weight: bold;
}

.form__input {
  padding: 0 10px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: var(--fs-md);
  outline: none;
}

.form__submit {
  background: var(--bg-pr);
}




/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Welcome Page */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Banner */
.welcome-banner {
  margin: 15px 0 50px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  box-shadow: var(--bs-pr);
  overflow: hidden;
}

.welcome-banner__title {
  position: absolute;
  color: var(--fc-lt);
  font-size: var(--fs-lg);
  text-align: center;
}

.welcome-banner__image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.welcome-banner__underline {
  position: relative;
  z-index: 1;
}

.welcome-banner__underline::before {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: 4px;
  left: 1px;
  width: 100%;
  height: 10px;
  background: var(--bg-sc);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Login & Registration Buttons */
.welcome-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.welcome-links__btn {
  margin-bottom: 15px;
}

.welcome-links__btn:last-child {
  margin-bottom: 0;
}




/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Profile Page */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Avatar */
.profile-avatar {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.profile-avatar__image {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: var(--bs-pr);
}

.profile-avatar__name {
  margin-left: 25px;
  color: var(--fc-sc);
  font-size: var(--fs-lg);
}


/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Parameters */
.profile-parameters {
  margin-bottom: 30px;
}

.profile-parameters__item {
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: space-between;
  border-bottom: var(--bb-pr);
}

.profile-parameters__text {
  color: var(--fc-pr);
  font-size: var(--fs-md);
}

.profile-parameters__text_link {
  position: relative;
}

.profile-parameters__text_link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: flex;
  width: 100%;
  height: 1px;
  background-color: var(--fc-pr);
}




/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Boards List Page */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Board */
.wrapper {
  flex-direction: column;
}

.board-card {
  position: relative;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  background: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);
}

.board-card:last-child {
  margin-bottom: 0;
}

.board-card__img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  box-shadow: var(--bs-pr);
}

.board-card__title {
  margin-left: 10px;
  color: var(--fc-sc);
  font-size: var(--fs-lg);
}

.board-card__setup {
  position: absolute;
  top: 19px;
  right: 5px;
}




/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Tasks List Page */
/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ** */
/* Task */
.task-card {
  position: relative;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 15px;
  background: var(--bg-sc);
  border-radius: 15px;
  box-shadow: var(--bs-pr);
}

.task-card:last-child {
  margin-bottom: 0;
}

.task-card__title {
  position: relative;
  margin-bottom: 15px;
  padding-left: 31px;
  color: var(--fc-sc);
  font-size: var(--fs-md);
}

.task-card__title::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  display: flex;
  width: 21px;
  height: 21px;
  border-radius: 5px;
  box-shadow: var(--bs-pr);
}

.task-card__title_completed::before {
  background: var(--bg-completed) var(--svg-completed) no-repeat center;
}

.task-card__title_process::before {
  background: var(--bg-process) var(--svg-process) no-repeat center;
}

.task-card__title_wait::before {
  background: var(--bg-wait) var(--svg-wait) no-repeat center;
}

.task-card__setup {
  position: absolute;
  top: 8px;
  right: 5px;
}