{% extends 'base.html' %}
{% block title %}{{ board['name'] }}{% endblock %}
{% block header %}{{ board['name'] }}{% endblock %}
{% block content %}
<main class="main">
  <div class="container">
    <!-- <button class="small-btn js-task-filter-btn">Filter</button> -->

    <div class="wrapper">
      {% if not task_list %}
      <p class="message">There are no tasks here...</p>
      {% endif %}

      {% for task in task_list %}
      <div class="task-card" data-id="{{ task['id'] }}">
        {% if task['status'] == 'completed' %}
        <h2 class="task-card__title task-card__title_completed js-task-title js-task-complete">
        {% endif %}
        {% if task['status'] == 'process' %}
        <h2 class="task-card__title task-card__title_process js-task-title js-task-process">
        {% endif %}
        {% if task['status'] == 'wait' %}
        <h2 class="task-card__title task-card__title_wait js-task-title js-task-wait">
        {% endif %}
          {{ task['name'] }}
        </h2>
        
        <p class="task-card__text js-task-description">
          {{ task['description'] }}
        </p>
        <button class="btn-dots task-card__setup js-task-setup-btn"></button>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="btn-wrapper">
    <button class="big-btn js-task-create-btn">Create New</button>
  </div>

  <!-- Modal: Setup -->
  <div class="modal js-task-setup">
    <div action="" class="modal__content">
      <h2 class="modal__title">Task Status</h2>
      <form
        action="{{ url_for('task.task_change', board_id=board['id'], task_id=False) }}"
        method="POST"
        class="js-task-setup-form">
        <div class="modal__field">
          <label for="setup-name" class="modal__label">Name</label>
          <input type="text" name="name" id="setup-name" class="modal__text js-task-setup-name" />
        </div>
        <div class="modal__field">
          <label for="setup-status" class="modal__label">Status</label>
          <select name="status" id="setup-select" class="modal__select">
            <option class="js-option js-option-wait" value="wait">Wait</option>
            <option class="js-option js-option-process" value="process">In Process</option>
            <option class="js-option js-option-complete" value="completed">Complete</option>
          </select>
        </div>
        <div class="modal__field">
          <label for="setup-description" class="modal__label">Description</label>
          <textarea name="description" id="setup-description" cols="30" rows="10" class="modal__textarea js-task-setup-description"></textarea>
        </div>
        <div class="modal__field">
          <button class="modal__btn">Submit Changes</button>
        </div>
      </form>
      <form 
        action="{{ url_for('task.task_delete', board_id=board['id'], task_id=False) }}"
        method="POST"
        class="modal__field js-task-delete-form m-t-15">
        <button class="modal__btn modal__btn_danger">Delete</button>
      </form>
      <button class="modal__close js-task-setup-close"></button>
    </div>
  </div>

  <!-- Modal: Filter -->
  <!-- <div class="modal js-task-filter">
    <form action="" class="modal__content">
      <h2 class="modal__title">Display</h2>
      <h3 class="modal__subtitle">Sort By</h3>
      <div class="modal__field modal__field_row">
        <input type="radio" name="sort" id="task-sort-new" class="modal__radio" checked />
        <label for="task-sort-new" class="modal__label modal__label_row">New first</label>
      </div>
      <div class="modal__field modal__field_row">
        <input type="radio" name="sort" id="task-sort-old" class="modal__radio" />
        <label for="task-sort-old" class="modal__label modal__label_row">Old first</label>
      </div>
      <h3 class="modal__subtitle">Display tasks</h3>
      <div class="modal__field modal__field_row">
        <input type="radio" name="allowed_boards" id="all" class="modal__radio" checked />
        <label for="all" class="modal__label modal__label_row">All</label>
      </div>
      <div class="modal__field modal__field_row">
        <input type="radio" name="allowed_boards" id="only_mine" class="modal__radio" />
        <label for="only_mine" class="modal__label modal__label_row">Only Mine</label>
      </div>
      <div class="modal__field">
        <button class="modal__btn">Submit</button>
      </div>
      <button class="modal__close js-task-filter-close"></button>
    </form>
  </div> -->

  <!-- Modal: Create -->
  <div class="modal js-task-create">
    <form method="POST" class="modal__content">
      <h2 class="modal__title">Create Board</h2>
      <div class="modal__field">
        <label for="create-name" class="modal__label">Name</label>
        <input type="text" id="create-name" name="name" class="modal__text" />
      </div><div class="modal__field">
        <label for="create-description" class="modal__label">Description</label>
        <textarea name="description" id="create-description" cols="30" rows="10" class="modal__textarea"></textarea>
      </div>
      <div class="modal__field">
        <button class="modal__btn">Create</button>
      </div>
      <button class="modal__close js-task-create-close"></button>
    </form>
  </div>
</main>
{% endblock %}